{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
{% include 'partials/_navbar.html' %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2">
            {% include 'partials/settings/_settings_menu.html' %}
        </div>
        <div class="col-md-10">
            <form class="row g-3" method="POST" action="">
                {% csrf_token %}
                <div class="col-md-6">
                    {{form.first_name.label}}
                    {{form.first_name}}
                </div>
                <div class="col-md-6">
                    {{form.last_name.label}}
                    {{form.last_name}}
                </div>
                <div class="col-md-6">
                    {{form.username.label}}
                    {{form.username}}
                </div>
                <div class="col-md-6">
                    {{form.email.label}}
                    {{form.email}}
                </div>
                <div class="col-md-6">
                    {{form.password1.label}}
                    {{form.password1}}
                </div>
                <div class="col-md-6">
                    {{form.password2.label}}
                    {{form.password2}}
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
   <script>
    const password1 = document.getElementById("id_password1");
    const password2 = document.getElementById("id_password2");
   
    password1.classList.add("form-control");
    password2.classList.add("form-control");
   </script> 
{% endblock %}