{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
{% include 'partials/_navbar.html' %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2">
            {% include 'partials/settings/_settings_menu.html' %}
        </div>
        <div class="col-md-10">
            <h2 class="title">Settings</h2>
            <p class="text"><strong>Full Name:</strong> {{request.user.first_name}} {{request.user.last_name}}</p> 
            <p class="text"><strong>Username:</strong> {{request.user.username}}</p> 
            <p class="text"><strong>email:</strong> {{request.user.email}}</p> 
        </div>
    </div>
</div>

{% include 'partials/_footer.html' %}
{% endblock %}

{% block scripts %}
{% endblock %}